[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
inky = "*"
pil = "*"
font_fredoka_one = "*"
lxml = "*"
smbus = "*"



[requires]
python_version = "3.7"